.oxmod-news-ifeng-detail {
    /* CSS */
    padding:5px;
}
.oxmod-news-ifeng-detail img{
    max-width: 100%;
}

.oxmod-news-ifeng-detail .title {
    font-size: 22px;
    margin:0 0 15px;
    line-height: 1.2;
}

.oxmod-news-ifeng-detail .content {
    font-size: 17px;
    color: #333;
    line-height: 1.5;

}
.oxmod-news-ifeng-detail .content p{
    margin:.8em 0;
}

.oxmod-news-ifeng-detail .tag {
    font-size: 12px;
    color: #999;
    margin:0 0 10px;
}